<div class=" navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container">
    <div class="navbar-brand">
      <a href="#" class="text-light my-auto"> Corda Blockchain for Donations</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navcollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navcollapse" >
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" *ngIf="isAuth" (click)="logout()">Log Out</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" *ngIf="!isAuth" (click)="login()">Log In/Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isAuth" routerLink="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/donation">Donation</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" *ngIf="isAuth && accessTokenPayload.hasCompany" routerLink="/companyManagement" href="#">Company</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="accessTokenPayload.hasInstitution" routerLink="/adminInstitutionPage" href="#">Institution Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isAuth && this.accessTokenPayload.isAdmin" routerLink="/admin" href="#">Admin</a>
        </li>
        <router-outlet></router-outlet>
      </ul>
    </div>
  </div>
</div>
