<section class="bg-dark text-light text-center pb-5">
  <div class="container">
    <h1 class="text-start p-5">
      History of donations
    </h1>

    <table *ngIf="this.donations" class="table table-dark pt-2">
      <thead>
      <tr>
        <th scope="col">Institution</th>
        <th scope="col">Cause</th>
        <th scope="col">Date</th>
        <th scope="col">Value</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let donation of this.donations">
        <td>{{donation.receiver}}</td>
        <td>{{donation.cause ? donation.cause : "None"}}</td>
        <td>{{donation.date.split("T")[1].split(".")[0] + " " + donation.date.split("T")[0]}}</td>
        <td>{{donation.value}}€</td>
      </tr>
      </tbody>
      
    </table>
    <div *ngIf="this.donations.length == 0">
      No donations to show
    </div>
  </div>


</section>
