
<div *ngIf="this.info" class="card text-dark card-width">
  <h5 class="card-header">{{info.name}}</h5>
  <div class="card-body">
    
    <p class="card-text">{{info.description}}</p>
    <a *ngIf="!info.corda_uuid" routerLink="/causes/{{info.id}}" class="btn btn-danger">Visit Page</a>
    <a *ngIf="info.corda_uuid" routerLink="/institution/{{info.id}}" class="btn btn-danger">Visit Page</a>
  </div>
</div>
