<app-nav> </app-nav>

<section class="bg-danger text-dark pb-5 justify-content-evenly">
  <h1 class="text-center text-light p-5">Your Profile!</h1>
  <div class="container d-dm-flex">
    <div class="container bg-light rounded-3">
      <div
        class="container text-center d-sm-flex align-items-center justify-content-evenly"
      >
        <div class="border border-4 mt-5 mb-5">
          
          <div class="container mt-2 pb-5">
            <div class="row row-cols-2 text-center justify-content-center">
              <div class="col h5">
                Nome:
                <span class="fw-bold">
                  {{ this.user.name }}
                </span>
              </div>
              
              <div class="col h5">
                Email: <span class="fw-bold"> {{this.accessTokenPayload.email}} </span>
              </div>
              <div class="col"></div>
              <div class="col h5">
                Contacto: <span class="fw-bold"> {{this.accessTokenPayload.email}} </span>
              </div>
            </div>
          </div>
        </div>
        <div class="mx-3">
          <img
            class="w-100 rounded-circle"
            src="./assets/FotoRelatorio.jpg"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="p-5 text-center text-dark justify-content-between bg-light"
  *ngIf="
    this.accessTokenPayload &&
    !this.accessTokenPayload.hasInstitution &&
    !this.accessTokenPayload.hasCompany
  "
>
  <h1 class="p-5">Request to Associate to an Account</h1>

  <div class="container d-sm-flex align-items-center">
    <div class="container">
      <h3>Associate to a Institution</h3>

      <form
        *ngIf="this.institutions"
        class="p-5"
        [formGroup]="this.institutionRequestForm"
        (ngSubmit)="submitInstitutionRequest()"
      >
        <select
          formControlName="institutionId"
          class="form-select"
          aria-label="Default select example"
        >
          <option selected>Open this to select an Institution</option>
          <option
            *ngFor="let institution of this.institutions"
            [ngValue]="institution.id"
          >
            {{ institution.name }}
          </option>
        </select>
        <div class="institution-request-form">
          <mat-error
            *ngIf="
              this.institutionId!.touched && this.institutionIdSelectedInvalid!
            "
            >Invalid selection</mat-error
          >
        </div>

        <button
          [disabled]="
            !this.institutionRequestForm.touched ||
            this.institutionIdSelectedInvalid
          "
          type="submit"
          class="bnt btn-danger rounded-3 p-2 mt-3"
        >
          Send request
        </button>
      </form>
    </div>
    <div class="container">
      <h3>Associate to an Company</h3>

      <form
        *ngIf="this.institutions"
        class="p-5"
        [formGroup]="this.companyRequestForm"
        (ngSubmit)="submitCompanyRequest()"
      >
        <select
          formControlName="companyId"
          class="form-select"
          aria-label="Default select example"
        >
          <option selected>Open this to select a Company</option>
          <option *ngFor="let company of this.companies" [ngValue]="company.id">
            {{ company.name }}
          </option>
        </select>
        <div class="institution-request-form">
          <mat-error *ngIf="this.companyId!.touched && this.companyIdSelectedInvalid!"> Invalid selection</mat-error>
        </div>

        <button [disabled]="!this.companyRequestForm.touched || this.companyIdSelectedInvalid" class="bnt btn-danger rounded-3 p-2 mt-3">Send request</button>
      </form>
    </div>
  </div>
</section>

<section
  *ngIf="
    this.accessTokenPayload &&
    !this.accessTokenPayload.hasInstitution &&
    !this.accessTokenPayload.hasCompany
  "
  class="bg-danger p-5 text-center text-light"
>
  <h1 class="pb-5">Create an Institution or Company</h1>

  <div class="container">
    <div class="row row-cols-2">
      <form
        [formGroup]="institutionCreationForm"
        (ngSubmit)="submitInstitution()"
      >
        <div class="col">
          <h3>Institution</h3>
          <hr />
          <label for="userCreateIn" class="form-label text-start"> Name</label>
          <div class="input-group mb-3">
            <input
              formControlName="name"
              id="userCreateIn"
              type="text"
              class="form-control"
              placeholder="Name"
              aria-label="Name"
            />
          </div>
          <div class="donation-form-items">
            <p *ngIf="institutionName!.invalid && institutionName!.touched">
              Invalid name
            </p>
          </div>

          <label for="institutionNIF" class="form-label text-start"> NIF</label>
          <div class="input-group mb-3">
            <input
              formControlName="nif"
              type="text"
              id="institutionNIF"
              class="form-control"
              placeholder="NIF"
              aria-label="nif"
              maxlength="9"
              appNumbersonly
            />
          </div>
          <div class="donation-form-items">
            <p *ngIf="institutionNif!.invalid && institutionNif!.touched">
              Invalid NIF
            </p>
          </div>
          <label for="institutionDescription" class="form-label text-start"
            >Description</label
          >
          <div class="input-group mb-3">
            <textarea
              formControlName="description"
              type="text"
              id="institutionDescription"
              class="form-control"
              aria-label="description"
            >
            </textarea>
          </div>
          <div class="donation-form-items">
            <!-- <p class="mat-input-invalid mat-input-placeholder" *ngIf="institutionDescription!.invalid && institutionDescription!.touched && institutionDescription">Description too long</p> -->
          </div>

          <button class="btn btn-light mt-5" type="submit">
            Submit Institution Creation Request
          </button>
        </div>
      </form>
      <form [formGroup]="this.companyCreationForm" (ngSubmit)="submitCompany()">
        <div class="col">
          <h3>Company</h3>
          <hr />
          <label for="userCreateComp" class="form-label text-start">
            Name</label
          >
          <div class="input-group mb-3">
            <input
              formControlName="name"
              id="userCreateComp"
              type="text"
              class="form-control"
              placeholder="Name"
              aria-label="Name"
            />
          </div>
          <div class="donation-form-items">
            <p *ngIf="companyName!.invalid && companyName!.touched">
              Invalid name
            </p>
          </div>
          <label for="companyNIF" class="form-label text-start"> NIF</label>
          <div class="input-group mb-3">
            <input
              formControlName="nif"
              type="text"
              id="companyNIF"
              class="form-control"
              placeholder="NIF"
              aria-label="nif"
              maxlength="9"
              appNumbersonly
            />
          </div>
          <div class="donation-form-items">
            <p *ngIf="companyNif!.invalid && companyNif!.touched">
              Invalid NIF
            </p>
          </div>
          <label for="companyDescription" class="form-label text-start"
            >Description</label
          >
          <div class="input-group mb-3">
            <textarea
              formControlName="description"
              type="text"
              id="companyDescription"
              class="form-control"
              aria-label="description"
            >
            </textarea>
          </div>

          <button class="btn btn-light mt-5">
            Submit Company Creation Request
          </button>
        </div>
      </form>
    </div>
  </div>
</section>

<app-user-history [donations]="this.donations"></app-user-history>
<app-footer></app-footer>
