<footer class="p-5 bg-dark text-white text-center position-relative">
  <div class="container">
    <p class="lead">
      Copyright &copy; 2022 BlockChain Donation
      <a href="{{this.router.url}}#" class="position-absolute bottom-0 end-0 p-5">
        <i class="bi bi-arrow-up-circle h1 text-light">
        </i>
      </a>
    </p>
  </div>

</footer>
