<app-nav> </app-nav>

<div
  *ngIf="
    this.institutionInfo &&
    this.institutionInfo.isaccepted &&
    !this.accessTokenPayload.isHolderPendingJoin
  "
>
  <section
    *ngIf="this.accessTokenPayload && this.accessTokenPayload.isHolderAdmin"
    class="bg-light text-dark text-center justify-content-center p-5"
  >
    <div class="d-sm-flex align-items-center justify-content-evenly">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>Validation of new users</h1>

            <div class="container">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Username</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of this.pendingUsers | keyvalue">
                    <td scope="row">{{ user.value.name }}</td>
                    <td>
                      <form #acceptUserForm="ngForm">
                        <input
                          name="institutionId"
                          [readonly]="true"
                          [hidden]="true"
                          [ngModel]="user.value.institutionId"
                        />
                        <input
                          name="userId"
                          [readonly]="true"
                          [hidden]="true"
                          [ngModel]="user.value.userId"
                        />
                        <button
                          (click)="acceptUser(acceptUserForm)"
                          class="btn btn-success rounded-3"
                        >
                          Accept
                        </button>

                        <button
                          (click)="rejectUser(acceptUserForm)"
                          class="mx-2 btn btn-danger rounded-3"
                        >
                          Reject
                        </button>
                      </form>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="this.pendingUsers.length == 0">
                No users pending approval
              </div>
            </div>
          </div>

          <div class="col">
            <h1>Validation of new causes</h1>

            <table *ngIf="this.pendingCauses" class="table">
              <thead>
                <tr>
                  <th scope="col">Username</th>
                  <th scope="col">Cause Name</th>
                  <th scope="col">Cause Goal</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cause of pendingCauses | keyvalue">
                  <td scope="row">{{ cause.value.creator }}</td>
                  <td scope="row">{{ cause.value.name }}</td>
                  <td scope="row">{{ cause.value.goal }}</td>
                  <td>
                    <form #acceptCauseForm="ngForm">
                      <input
                        name="id"
                        [readonly]="true"
                        [hidden]="true"
                        [ngModel]="cause.value.causeId"
                      />
                      <button
                        (click)="acceptCause(acceptCauseForm)"
                        class="btn btn-success rounded-3"
                      >
                        Accept
                      </button>

                      <button
                        (click)="rejectCause(acceptCauseForm)"
                        class="mx-2 btn btn-danger rounded-3"
                      >
                        Reject
                      </button>
                    </form>
                  </td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="this.pendingCauses.length == 0">
              No causes pending approval
            </div>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col">
            <div class="container">
              <h2>Validation of new payment</h2>
              <table *ngIf="this.pendingPayments" class="table">
                <thead>
                  <tr>
                    <th scope="col">Creator</th>
                    <th scope="col">Company</th>
                    <th scope="col">Cause</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let payment of pendingPayments | keyvalue">
                    <td scope="row">{{ payment.value.creatorName }}</td>
                    <td scope="row">{{ payment.value.receiverName }}</td>
                    <td scope="row">{{ payment.value.causeName }}</td>
                    <td scope="row">{{ payment.value.amount }}</td>
                    <td scope="row">{{ payment.value.description }}</td>
                    <td>
                      <form #acceptPaymentForm="ngForm">
                        <input
                          name="id"
                          [readonly]="true"
                          [hidden]="true"
                          [ngModel]="payment.value.pending_paymentid"
                        />
                        <button
                          (click)="acceptPayment(acceptPaymentForm)"
                          class="btn btn-success rounded-3"
                        >
                          Accept
                        </button>

                        <button
                          (click)="rejectPayment(acceptPaymentForm)"
                          class="mx-2 btn btn-danger rounded-3"
                        >
                          Reject
                        </button>
                      </form>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="this.pendingCauses.length == 0">
                No payments pending approval
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-danger text-light text-center p-5">
    <h1>Causes Management</h1>

    <div class="container d-sm-flex align-items-center justify-content-evenly">
      <div class="container">
        <h3>Create a New Cause</h3>
        <form
          *ngIf="causeForm"
          [formGroup]="causeForm"
          (ngSubmit)="submitCause()"
        >
          <div class="container bg-light text-dark rounded-3">
            <div class="row row-cols-2">
              <div class="col p-3">
                <label for="causeName" class="form-label"> Cause Name</label>
                <input
                  formControlName="name"
                  type="text"
                  id="causeName"
                  class="form-control"
                  placeholder="Cause Name"
                  aria-label="CauseName"
                />
              </div>

              <div class="col p-3">
                <label for="causeGoal" class="form-label">Cause Goal</label>
                <input
                  formControlName="goal"
                  type="text"
                  id="causeGoal"
                  class="form-control"
                  placeholder="Cause Goal"
                  aria-label="CauseGoal"
                />
              </div>
            </div>
            <div class="row">
              <div class="col p-3">
                <label for="causeDescription" class="form-label"
                  >Cause Description</label
                >
                <textarea
                  formControlName="description"
                  id="causeDescription"
                  class="form-control"
                  placeholder="Cause Description"
                  aria-label="CauseDescription"
                ></textarea>
              </div>
            </div>

            <div class="row">
              <div class="col p-3">
                <input
                  formControlName="institutionId"
                  [hidden]="true"
                  [readonly]="true"
                  class="form-select"
                  aria-label="Default select example"
                />
              </div>
            </div>
            <button type="submit" class="btn btn-danger mb-3">Create</button>
          </div>
        </form>
      </div>

      <div class="container">
        <h3>Payment Registration</h3>

        <div
          *ngIf="this.paymentRequestForm"
          class="container bg-light text-dark rounded-3"
        >
          <form
            [formGroup]="this.paymentRequestForm"
            (ngSubmit)="submitPaymentRequest()"
          >
            <h4 *ngIf="this.balance" class="text-start pt-2 mx-2">
              Institution funds: {{ this.balance.value }}
              {{ this.balance.currency }}
            </h4>
            <div class="row p-3">
              <div class="col">
                <label for="InstitutionCause">Cause:</label>
                <select
                  formControlName="cause"
                  class="form-select"
                  id="InstitutionCause"
                  aria-label="Cause"
                >
                  <option selected>General expense</option>
                  <option
                    *ngFor="let cause of this.causes"
                    [ngValue]="cause.id"
                  >
                    {{ cause.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="row p-3 row-cols-2">
              <div class="col">
                <label for="companyPayment" class="form-label"> Company</label>
                <select
                  formControlName="company"
                  class="form-select"
                  id="companyPayment"
                  aria-label="Default select example"
                >
                  <option selected>Select company</option>
                  <option
                    *ngFor="let company of this.validCompanies"
                    [ngValue]="company.id"
                  >
                    {{ company.name }}
                  </option>
                </select>
                <div class="donation-form-items">
                  <mat-error
                    *ngIf="this.company!.invalid && this.company!.touched"
                  >
                    Invalid company
                  </mat-error>
                </div>
              </div>
              <div class="col">
                <label for="causeTotalSpent" class="form-label"> Amount</label>
                <input
                  formControlName="amount"
                  class="form-control"
                  type="text"
                  aria-label="readonly input example"
                  id="causeTotalSpent"
                  appNumbersonly
                />
                <div class="donation-form-items">
                  <mat-error
                    *ngIf="this.amount!.invalid && this.amount!.touched"
                  >
                    Invalid amount
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row p-3">
              <div class="col">
                <label for="causeCostDescription" class="form-label"
                  >Payment description</label
                >
                <textarea
                  formControlName="message"
                  id="causeCostDescription"
                  class="form-control"
                  placeholder="Payment description"
                  aria-label="Payment description"
                ></textarea>
              </div>
            </div>

            <button
              [disabled]="this.paymentRequestForm.invalid"
              class="btn btn-danger mb-3"
            >
              Submit request
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="p-5 bg-dark text-light text-center">
    <h1 class="p-5">Causes of the institution</h1>
    <div class="container">
      <table
        mat-table
        [dataSource]="this.causes"
        class="mat-elevation-z8 causes-table "
      >
        <!-- Position Column -->
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef>Cause name</th>
          <td mat-cell *matCellDef="let cause">
            {{ cause.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef>Cause description</th>
          <td
            mat-cell
            *matCellDef="let cause"
          >
            {{ cause.description }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Goal">
          <th mat-header-cell *matHeaderCellDef>Cause goal</th>
          <td mat-cell *matCellDef="let cause">
            {{ cause.goal }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="CreationDate">
          <th mat-header-cell *matHeaderCellDef>CreationDate</th>
          <td
            mat-cell
            *matCellDef="let cause"
          >
            {{ cause.creationdate.split("T")[0]}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsCauses"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsCauses"></tr>
      </table>
    </div>
  </section>

  <section class="bg light text-dark text-center p-5">
    <div class="container">
      <h1 class="p-5">Causes stats</h1>

      <table
        mat-table
        [dataSource]="this.combinedArray"
        class="mat-elevation-z8 demo-table bg-dark"
      >
        <!-- Position Column -->
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td
            mat-cell
            *matCellDef="let donation"
            [class.green400-bg]="donation.type == 'Donation' ? true : false"
            [class.red400-gb]="donation.type == 'Donation' ? false : true"
          >
            {{
              donation.type == "Payment" ? donation.receiver : donation.issuer ? donation.issuer : "Anonymous"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Cause">
          <th mat-header-cell *matHeaderCellDef>Cause</th>
          <td
            mat-cell
            *matCellDef="let donation"
            [class.green400-bg]="donation.type == 'Donation' ? true : false"
            [class.red400-gb]="donation.type == 'Donation' ? false : true"
          >
            {{ donation.cause ? donation.cause : "None" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td
            mat-cell
            *matCellDef="let donation"
            [class.green400-bg]="donation.type == 'Donation' ? true : false"
            [class.red400-gb]="donation.type == 'Donation' ? false : true"
          >
            {{ donation.type }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td
            mat-cell
            *matCellDef="let donation"
            [class.green400-bg]="donation.type == 'Donation' ? true : false"
            [class.red400-gb]="donation.type == 'Donation' ? false : true"
          >
            {{ donation.description }}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td
            mat-cell
            *matCellDef="let donation"
            [class.green400-bg]="donation.type == 'Donation' ? true : false"
            [class.red400-gb]="donation.type == 'Donation' ? false : true"
          >
            {{
              donation.date.split("T")[0] +
                " " +
                donation.date.split("T")[1].split("Z")[0].split(".")[0]
            }}
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Value">
          <th mat-header-cell *matHeaderCellDef>value</th>
          <td
            mat-cell
            *matCellDef="let donation"
            [class.green400-bg]="donation.type == 'Donation' ? true : false"
            [class.red400-gb]="donation.type == 'Donation' ? false : true"
          >
            {{ donation.value }} €
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsHistory"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsHistory"></tr>
      </table>
    </div>
  </section>
</div>

<section
  *ngIf="
    this.institutionInfo &&
    (!this.institutionInfo.isaccepted ||
      this.accessTokenPayload.isHolderPendingJoin)
  "
  class="bg-danger text-light text-center p-5"
  style="height: 80vh"
>
  <div class="container">
    <h3>Awaiting approval</h3>
  </div>
  <button class="btn btn-light btn-lg" [routerLink]="['/']">Home</button>
</section>

<app-footer> </app-footer>
