<app-nav> </app-nav>

<div *ngIf="this.companyInfo && this.companyInfo.isaccepted && !this.accessTokenPayload.isHolderPendingJoin">
  <section
    *ngIf="this.accessTokenPayload && this.accessTokenPayload.isHolderAdmin"
    class="bg-light text-dark text-center justify-content-center p-5"
  >
    <div class="d-sm-flex align-items-center justify-content-evenly">
      <div class="container">
        <h1>Validation of new users</h1>

        <div class="container">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Username</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of this.pendingUsers | keyvalue">
                <td scope="row">{{ user.value.name }}</td>
                <td>
                  <form #acceptUserForm="ngForm">
                    <input
                      name="companyId"
                      [readonly]="true"
                      [hidden]="true"
                      [ngModel]="user.value.companyId"
                    />
                    <input
                      name="userId"
                      [readonly]="true"
                      [hidden]="true"
                      [ngModel]="user.value.userId"
                    />
                    <button
                      (click)="acceptUser(acceptUserForm)"
                      class="btn btn-success rounded-3"
                    >
                      Accept
                    </button>

                    <button
                      (click)="rejectUser(acceptUserForm)"
                      class="mx-2 btn btn-danger rounded-3"
                    >
                      Reject
                    </button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="this.pendingUsers.length == 0">
            No users pending approval
          </div>
        </div>
      </div>
      <div class="container">
        <h1>Validation of new donations</h1>

        <table *ngIf="this.pendingDonations" class="table">
          <thead>
            <tr>
              <th scope="col">Username</th>
              <th scope="col">Institution Name</th>
              <th scope="col">Cause Name</th>
              <th scope="col">Amount</th>
              <th scope="col">description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let donation of pendingDonations | keyvalue">
              <td scope="row">{{ donation.value.creatorName }}</td>
              <td scope="row">{{ donation.value.receiverName }}</td>
              <td scope="row">{{ donation.value.causeName }}</td>
              <td scope="row">{{ donation.value.amount }}</td>
              <td scope="row">{{ donation.value.description }}</td>
              <td>
                <form #acceptCauseForm="ngForm">
                  <input
                    name="pending_donationid"
                    [readonly]="true"
                    [hidden]="true"
                    [ngModel]="donation.value.pending_donationid"
                  />
                  <input
                  name="value"
                  [readonly]="true"
                  [hidden]="true"
                  [ngModel]="donation.value.amount"
                  />
                  <input 
                  name="institutionId"
                  [readonly]="true"
                  [hidden]="true"
                  [ngModel]="donation.value.receiverId"
                  />
                  <input 
                  name="causeId"
                  [readonly]="true"
                  [hidden]="true"
                  [ngModel]="donation.value.causeId"
                  />
                  <input 
                  name="description"
                  [readonly]="true"
                  [hidden]="true"
                  [ngModel]="donation.value.description"
                  />
                  <button
                    (click)="acceptDonation(acceptCauseForm)"
                    class="btn btn-success rounded-3"
                  >
                    Accept
                  </button>

                  <button
                    (click)="rejectDonation(acceptCauseForm)"
                    class="mx-2 btn btn-danger rounded-3"
                  >
                    Reject
                  </button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="this.pendingDonations.length == 0">
          No donations pending approval
        </div>
      </div>
    </div>
  </section>

  <section class="bg-danger text-light text-center p-5">
    <h1>Company Management</h1>

    <div class="container d-sm-flex align-items-center justify-content-evenly">
      <!-- <div class="container">
        <h3>Create a New Cause</h3>
        <form
          *ngIf="causeForm"
          [formGroup]="causeForm"
          (ngSubmit)="submitCause()"
        >
          <div class="container bg-light text-dark rounded-3">
            <div class="row row-cols-2">
              <div class="col p-3">
                <label for="causeName" class="form-label"> Cause Name</label>
                <input
                  formControlName="name"
                  type="text"
                  id="causeName"
                  class="form-control"
                  placeholder="Cause Name"
                  aria-label="CauseName"
                />
              </div>

              <div class="col p-3">
                <label for="causeGoal" class="form-label">Cause Goal</label>
                <input
                  formControlName="goal"
                  type="text"
                  id="causeGoal"
                  class="form-control"
                  placeholder="Cause Goal"
                  aria-label="CauseGoal"
                />
              </div>
            </div>
            <div class="row">
              <div class="col p-3">
                <label for="causeDescription" class="form-label"
                  >Cause Description</label
                >
                <textarea
                  formControlName="description"
                  id="causeDescription"
                  class="form-control"
                  placeholder="Cause Description"
                  aria-label="CauseDescription"
                ></textarea>
              </div>
            </div>

            <div class="row">
              <div class="col p-3">
                <input
                  formControlName="institutionId"
                  [hidden]="true"
                  [readonly]="true"
                  class="form-select"
                  aria-label="Default select example"
                />
              </div>
            </div>
            <button type="submit" class="btn btn-danger mb-3">Create</button>
          </div>
        </form>
      </div> -->

      <div class="container">
        <h3>Donation Registration</h3>

        <div *ngIf="this.donationRequestForm" class="container bg-light text-dark rounded-3">
          <form [formGroup]="this.donationRequestForm"
                (ngSubmit)="submitDonationRequest()">
            <div class="row p-3">
              <div class="col">
                <label for="institution" class="form-label"> Institution:</label>
                <select
                  formControlName="institution"
                  name="institution"
                  id="institution"
                  class="form-select"
                >
                  <option>Select institution</option>
                  <option
                    *ngFor="let institution of this.institutions"
                    [value]="institution.id"
                  >
                    {{ institution.name }}
                  </option>
                </select>
                <div class="donation-form-items">
                  <mat-error *ngIf="institution!.invalid && institution!.touched"
                    >Invalid institution</mat-error
                  >
                </div>
              </div>
              <div class="col">
                <label for="cause" class="form-label">
                  Causes for that Instituion:</label
                >
                <select
                  formControlName="cause"
                  name="cause"
                  id="cause"
                  class="form-select"
                >
                  <option value="">
                    {{ this.causes ? "None" : "Select institution first" }}
                  </option>
                  <option *ngFor="let cause of this.causes" [value]="cause.id">
                    {{ cause.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row p-3 row-cols-3 justify-content-center">
              <div class="col align-self-center">
                <label for="causeTotalSpent" class="form-label">
                  Total amount</label
                >
                <input
                formControlName="amount"
                  class="form-control"
                  type="text"
                  aria-label="readonly input example"
                  id="causeTotalSpent"
                  appNumbersonly
                />
                <div class="donation-form-items">
                  <mat-error *ngIf="this.amount!.touched && this.amount!.invalid">Invalid amount</mat-error>
                </div>
              </div>
              
            </div>
            
            <hr />
          

            <div class="row p-3">
              <div class="col">
                <label for="causeCostDescription" class="form-label"
                  >Donation Description</label
                >
                <textarea
                formControlName="message"
                  id="causeCostDescription"
                  class="form-control"
                  placeholder="Cause Cost Description"
                  aria-label="CauseCostDescription"
                ></textarea>
              </div>
            </div>
            <div class="donation-form-items">
              <mat-error *ngIf="this.message!.touched && this.message!.invalid"></mat-error>
            </div>

            <button [disabled]="this.donationRequestForm.invalid" class="btn btn-danger mb-3">Save Changes</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="p-5 bg-dark text-light text-center">
    <h1 class="p-5">Causes of the institution</h1>
    <div class="container">
      <table class="table table-hover table-light table-striped">
        <thead>
          <tr>
            <th scope="col">Cause Name</th>
            <th scope="col">Cause description</th>
            <th scope="col">Cause Goal</th>
            <th scope="col">Creation Date</th>
          </tr>
        </thead>
        <tbody *ngIf="this.donationsList.length > 0">
          <tr *ngFor="let cause of this.donationsList">
            <td>{{ cause.name }}</td>
            <td>{{ cause.description }}</td>
            <td>{{ cause.goal }}</td>
            <td>{{ cause.creationdate.split("T")[0] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section> -->

  <section class="bg light text-dark text-center p-5">
    <div class="container">
      <h1 class="p-5">Movement history</h1>

      <table
        mat-table
        [dataSource]="this.combinedArray"
        class="mat-elevation-z8 demo-table bg-dark"
      >
        <!-- Position Column -->
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td
            mat-cell
            *matCellDef="let donation"
            [class.green400-bg]="donation.type == 'Donation' ? false : true"
            [class.red400-gb]="donation.type == 'Donation' ? true : false"
          >
            {{
              donation.type == "Payment" ? donation.receiver : donation.issuer
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Institution">
          <th mat-header-cell *matHeaderCellDef>Institution</th>
          <td
            mat-cell
            *matCellDef="let donation"
            [class.green400-bg]="donation.type == 'Donation' ? false : true"
            [class.red400-gb]="donation.type == 'Donation' ? true : false"
          >
            {{ donation.issuer ? donation.issuer : "None" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Cause">
          <th mat-header-cell *matHeaderCellDef>Cause</th>
          <td
            mat-cell
            *matCellDef="let donation"
            [class.green400-bg]="donation.type == 'Donation' ? false : true"
            [class.red400-gb]="donation.type == 'Donation' ? true : false"
          >
            {{ donation.cause ? donation.cause : "None" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td
            mat-cell
            *matCellDef="let donation"
            [class.green400-bg]="donation.type == 'Donation' ? false : true"
            [class.red400-gb]="donation.type == 'Donation' ? true : false"
          >
            {{ donation.type }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td
            mat-cell
            *matCellDef="let donation"
            [class.green400-bg]="donation.type == 'Donation' ? false : true"
            [class.red400-gb]="donation.type == 'Donation' ? true : false"
          >
            {{ donation.description }}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td
            mat-cell
            *matCellDef="let donation"
            [class.green400-bg]="donation.type == 'Donation' ? false : true"
            [class.red400-gb]="donation.type == 'Donation' ? true : false"
          >
            {{
              donation.date.split("T")[0] +
                " " +
                donation.date.split("T")[1].split("Z")[0].split(".")[0]
            }}
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Value">
          <th mat-header-cell *matHeaderCellDef>value</th>
          <td
            mat-cell
            *matCellDef="let donation"
            [class.green400-bg]="donation.type == 'Donation' ? false : true"
            [class.red400-gb]="donation.type == 'Donation' ? true : false"
          >
            {{ donation.value }} €
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsHistory"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsHistory"></tr>
      </table>
    </div>
  </section>
</div>

<section
  *ngIf="this.companyInfo && (!this.companyInfo.isaccepted || this.accessTokenPayload.isHolderPendingJoin)"
  class="bg-danger text-light text-center p-5"
  style="height: 80vh"
>
  <div class="container">
    <h3>Awaiting approval</h3>
  </div>
  <button class="btn btn-light btn-lg" [routerLink]="['/']">Home</button>
</section>

<app-footer> </app-footer>
