.demo-table {
  width: 100%;
  background-color: aliceblue;
  color: black;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.mat-column-Date, .mat-column-Time, .mat-column-Type{
  text-align: center;
  width: 10%;
}
.mat-column-Value{
  width: 8%;
  text-align: center;
}
.mat-column-Name{
  width: 20%;
}

.green400-bg{
  background-color: #198754;
  color: aliceblue;
}

.red400-gb{
  background-color: #dc3545;
  color: aliceblue;
}