<app-nav> </app-nav>

<div *ngIf="this.id">
  <section
    class="bg-danger text-light text-center p-5 justify-content-evenly"
    *ngIf="this.cause"
  >
    <div class="container">
      <h1 class="pb-5">
        {{ this.cause.name }}
      </h1>
      <div class="d-sm-flex align-items-center justify-content-between">
        <div>
          <h5>
            {{ this.cause.institutionName }}
          </h5>
          <p class="lead my-4 mx-5">
            {{ this.cause.description }}
          </p>
          <button class="btn btn-dark btn-lg" routerLink="/donation">
            Donate to us!
          </button>
        </div>
        <div class="w-50">
          <img
            class="img-fluid w-75"
            src="./assets/donationtest.jpg"
            alt="..."
          />
        </div>
      </div>
    </div>
  </section>

  <section class="bg-dark text-light p-5 text-center text-start">
    <div class="container">
      <div class="align-items-center">
        <div>
          <h1>Where we spent our money!</h1>
          <p class="lead my-4 mx-5">
            Here You can keep track of how much has been donated to this cause
            and what were their spendings
          </p>
        </div>
        <div class="p-2 text-start">
          <table
            mat-table
            [dataSource]="this.combinedArray"
            class="mat-elevation-z8 demo-table"
          >
            <!-- Position Column -->
            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td
                mat-cell
                *matCellDef="let donation"
                [class.green400-bg]="donation.type == 'Donation' ? true : false"
                [class.red400-gb]="donation.type == 'Donation' ? false : true"
              >
                {{ donation.issuerInfo ? donation.issuerInfo : "Anonymous"}}
              </td>
            </ng-container>

            <ng-container matColumnDef="Type">
              <th mat-header-cell *matHeaderCellDef>Type</th>
              <td
                mat-cell
                *matCellDef="let donation"
                [class.green400-bg]="donation.type == 'Donation' ? true : false"
                [class.red400-gb]="donation.type == 'Donation' ? false : true"
              >
                {{ donation.type }}
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td
                mat-cell
                *matCellDef="let donation"
                [class.green400-bg]="donation.type == 'Donation' ? true : false"
                [class.red400-gb]="donation.type == 'Donation' ? false : true"
              >
                {{ donation.description }}
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Date">
              <th mat-header-cell *matHeaderCellDef>Date</th>
              <td
                mat-cell
                *matCellDef="let donation"
                [class.green400-bg]="donation.type == 'Donation' ? true : false"
                [class.red400-gb]="donation.type == 'Donation' ? false : true"
              >
                {{ donation.date }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Time">
              <th mat-header-cell *matHeaderCellDef>Time</th>
              <td
                mat-cell
                *matCellDef="let donation"
                [class.green400-bg]="donation.type == 'Donation' ? true : false"
                [class.red400-gb]="donation.type == 'Donation' ? false : true"
              >
                {{ donation.time }}
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="Value">
              <th mat-header-cell *matHeaderCellDef>value</th>
              <td
                mat-cell
                *matCellDef="let donation"
                [class.green400-bg]="donation.type == 'Donation' ? true : false"
                [class.red400-gb]="donation.type == 'Donation' ? false : true"
              >
                {{ donation.value }} €
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </div>
    </div>
  </section>

  
</div>

<app-footer> </app-footer>
