@import "../../../../node_modules/swiper/swiper-bundle.min.css";
@import "../../../../node_modules/swiper/modules/navigation/navigation.min.css";
@import "../../../../node_modules/swiper/modules/pagination/pagination.min.css";

.swiper {
  width: 100%;
  height: 100%;
}

.mySwiper{

}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ffffff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.demo-table {
  width: 100%;
  background-color: aliceblue;
  color: black;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.mat-column-Date, .mat-column-Type{
  text-align: center;
  width: 20%;
}
.mat-column-Value{
  width: 8%;
  text-align: center;
}
.mat-column-Name{
  width: 20%;
}

.green400-bg{
  background-color: #198754;
  color: aliceblue;
}

.red400-gb{
  background-color: #dc3545;
  color: aliceblue;
}
