<app-nav></app-nav>

<div *ngIf="this.id">
  <section
    class="bg-danger text-light p-5 text-center"
    *ngIf="this.institutionInfo"
  >
    <div class="container">
      <h1>
        {{ institutionInfo.name }}
      </h1>

      <div
        class="container d-sm-flex align-items-center justify-content-between"
      >
        <div>
          <h2>ABOUT US</h2>
          <p>{{ institutionInfo.description }}</p>
        </div>
        <div class="m-5 w-25">
          <img
            class="img-fluid"
            src="./assets/clueless.png"
            alt="What a nerd"
          />
        </div>
      </div>
    </div>
  </section>

  <section
    class="bg-light text-dark p-5 text-center"
    *ngIf="this.institutionInfo && this.causes"
  >
    <div class="container">
      <h1>Our Causes</h1>
    </div>

    <div class="container-fluid p-5">
      <swiper
        [slidesPerView]="3"
        [spaceBetween]="30"
        [loop]="true"
        [pagination]="{
          clickable: true
        }"
        [navigation]="true"
        class="mySwiper"
      >
        <ng-template swiperSlide *ngFor="let cause of this.causes">
          <app-cause-card style="width: auto" [info]="cause"></app-cause-card
        ></ng-template>
      </swiper>
    </div>
  </section>

  <section class="p-5 bg-dark text-light text-center">
    <h1 class="p-5">Donation history</h1>
    <div class="container">
      <table
        mat-table
        [dataSource]="this.combinedArray"
        class="mat-elevation-z8 demo-table"
      >
        <!-- Position Column -->
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td
            mat-cell
            *matCellDef="let donation"
            [class.green400-bg]="donation.type == 'Donation' ? true : false"
            [class.red400-gb]="donation.type == 'Donation' ? false : true"
          >
            {{
              donation.type == "Payment" ? donation.receiver : donation.issuer ? donation.issuer : "Anonymous"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Cause">
          <th mat-header-cell *matHeaderCellDef>Cause</th>
          <td mat-cell *matCellDef="let donation" [class.green400-bg]="donation.type == 'Donation' ? true : false"
          [class.red400-gb]="donation.type == 'Donation' ? false : true"> {{donation.cause ? donation.cause : "None"}}</td>
        </ng-container>

        <ng-container matColumnDef="Type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td
            mat-cell
            *matCellDef="let donation"
            [class.green400-bg]="donation.type == 'Donation' ? true : false"
            [class.red400-gb]="donation.type == 'Donation' ? false : true"
          >
            {{ donation.type }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td
            mat-cell
            *matCellDef="let donation"
            [class.green400-bg]="donation.type == 'Donation' ? true : false"
            [class.red400-gb]="donation.type == 'Donation' ? false : true"
          >
            {{ donation.description }}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td
            mat-cell
            *matCellDef="let donation"
            [class.green400-bg]="donation.type == 'Donation' ? true : false"
            [class.red400-gb]="donation.type == 'Donation' ? false : true"
          >
            {{
              donation.date.split("T")[0] +
                " " +
                donation.date.split("T")[1].split("Z")[0].split(".")[0]
            }}
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Value">
          <th mat-header-cell *matHeaderCellDef>value</th>
          <td
            mat-cell
            *matCellDef="let donation"
            [class.green400-bg]="donation.type == 'Donation' ? true : false"
            [class.red400-gb]="donation.type == 'Donation' ? false : true"
          >
            {{ donation.value }} €
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </section>
</div>

<app-footer> </app-footer>
