<app-nav></app-nav>
<section class="bg-dark text-light p-5 text-center text-start">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1>Donate <span class="text-danger">Now! </span></h1>
        <p class="lead my-4 mx-5">
          In a world that some donations might just be a bit
          <span class="text-danger fw-bold"> SUS</span> with the blockchain
          transactions it will be possible to track where your money was spent
          and a certain donation. We aim to a better and equal world. Join us!
        </p>
        <button
          class="btn btn-danger btn-lg"
          *ngIf="this.isAuth"
          [routerLink]="['/donation']"
          fragment="donate"
        >
          {{this.isAuth ? 'Donate now!' : 'Sign Up with us!'}}
        </button>
        <button
          class="btn btn-danger btn-lg"
          *ngIf="!this.isAuth"
          (click)="login()"
        >
          {{this.isAuth ? 'Donate now!' : 'Sign Up with us!'}}
        </button>
      </div>
      <img class="img-fluid w-75" src="./assets/donationtest.jpg" alt="" />
    </div>
  </div>
</section>

<section class="bg-light text-dark text-center pb-5">
  <div class="container"></div>
  <div class="container d-sm-flex align-items-center justify-content-evenly">
    <img class="w-100" src="./assets/ANON.png" alt="..." />
    <div>
      <h1 class="pb-5 pt-5">Make a Donation Anonymously!</h1>
      <p class="lead my-4 mx-5">
        Because we value your privacy, and our ultimate goal is for people to
        donate we want to make it easy for you. Therefore you don't need to
        create an account to donate, you can make your donations to certain a
        cause belonging to a certain institute. You'll recieve an email with the
        details of your transaction.
        <span class="text-danger fw-bold"> BUT </span>
        since you're not logged in you won't be able to track down within the
        blockchain your money.
      </p>
      <button class="btn btn-danger btn-lg" routerLink="/donation">
        Donate Anonymously
      </button>
    </div>
  </div>
</section>

<section class="p-5 bg-danger text-light text-center">
  <div class="container">
    <h1>All Institutions</h1>
  </div>
  <div class="container p-5">
    <div class="row row-cols-3" *ngIf="institutions.length > 0">
      <div *ngFor="let institution of institutions" class="col">
        <app-cause-card [info]="institution"> </app-cause-card>
      </div>
    </div>
    <div *ngIf="!(institutions.length > 0)">
      No institutions available
    </div>
  </div>
</section>
<section class="bg-dark p-5 text-light text-center">
  <div class="container">
    <h1>All causes</h1>
  </div>
  <div class="container p-5">
    <div class="row row-cols-3" *ngIf="this.causes.length > 0">
      <div class="col  pb-2" *ngFor="let cause of causes">
        <app-cause-card [info]="cause"> </app-cause-card>
      </div>
    </div>
    <div *ngIf="!(this.causes.length > 0)">
      No causes available
    </div>
  </div>
</section>

<section class="bg-danger text-light p-5 text-center">
  <div class="container">
    <h1 class="pb-5">The Dev Team!</h1>
    <div class="container d-sm-flex align-items-center justify-content-evenly">
      <div class="card text-light bg-dark" style="width: 18rem">
        <div class="card-header h3">Luis Fernandes</div>
        <img
          src="./assets/PhotoLoaderluis.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Back end Main</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <!--            <a href="#" class="card-link">Reddit-->
          <!--              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reddit" viewBox="0 0 16 16">-->
          <!--                <path d="M6.167 8a.831.831 0 0 0-.83.83c0 .459.372.84.83.831a.831.831 0 0 0 0-1.661zm1.843 3.647c.315 0 1.403-.038 1.976-.611a.232.232 0 0 0 0-.306.213.213 0 0 0-.306 0c-.353.363-1.126.487-1.67.487-.545 0-1.308-.124-1.671-.487a.213.213 0 0 0-.306 0 .213.213 0 0 0 0 .306c.564.563 1.652.61 1.977.61zm.992-2.807c0 .458.373.83.831.83.458 0 .83-.381.83-.83a.831.831 0 0 0-1.66 0z"/>-->
          <!--                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.828-1.165c-.315 0-.602.124-.812.325-.801-.573-1.9-.945-3.121-.993l.534-2.501 1.738.372a.83.83 0 1 0 .83-.869.83.83 0 0 0-.744.468l-1.938-.41a.203.203 0 0 0-.153.028.186.186 0 0 0-.086.134l-.592 2.788c-1.24.038-2.358.41-3.17.992-.21-.2-.496-.324-.81-.324a1.163 1.163 0 0 0-.478 2.224c-.02.115-.029.23-.029.353 0 1.795 2.091 3.256 4.669 3.256 2.577 0 4.668-1.451 4.668-3.256 0-.114-.01-.238-.029-.353.401-.181.688-.592.688-1.069 0-.65-.525-1.165-1.165-1.165z"/>-->
          <!--              </svg>-->
          <!--            </a>-->
        </div>
      </div>
      <div class="card text-light bg-dark" style="width: 18rem">
        <div class="card-header h3">Joel Silva</div>
        <img src="./assets/FotoRelatorio.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Front End Main</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>

<!-- Modal -->

<div
  class="modal fade"
  id="signup"
  tabindex="-1"
  aria-labelledby="signupLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign up</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p class="lead">Time to do le forms</p>
        <form action=""></form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
