<app-nav> </app-nav>

<div class="container">
  <h1>Platform Admin Page</h1>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="container">
          <h3>Validate Company Accounts</h3>
          <table class="table">
            <thead>
              <tr>
                <th class="col">Name</th>
                <th class="col">Description</th>
                <th class="col">NIF</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let company of this.pendingCompanies">
                <td>{{ company.name }}</td>
                <td>{{company.description}}</td>
                <td>{{company.nif}}</td>
                <td>
                  <form #acceptCompanyForm="ngForm">
                  <input
                    name="companyId"
                    [readonly]="true"
                    [hidden]="true"
                    [ngModel]="this.company.id"
                  />
                  <input
                      name="userId"
                      [readonly]="true"
                      [hidden]="true"
                      [ngModel]="this.company.user_id"
                    />
                  <button
                    (click)="acceptCompany(acceptCompanyForm)"
                    class="btn btn-success rounded-3"
                  >
                    Accept
                  </button>

                  <button
                    (click)="rejectCompany(acceptCompanyForm)"
                    class="mx-2 btn btn-danger rounded-3"
                  >
                    Reject
                  </button>
                </form>
              </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="this.pendingCompanies.length == 0">No companies pending approval</div>
        </div>
      </div>
      <div class="col">
        <div class="container">
          <h3>Validate Institution Accounts</h3>
          <table class="table">
            <thead>
              <tr>
                <th class="col">Name</th>
                <th class="col">Description</th>
                <th class="col">NIF</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let institution of this.pendingInstitutions">
                <td>{{institution.name}}</td>
                <td>{{institution.description}}</td>
                <td>{{institution.nif}}</td>
                <td>
                  <form #acceptInstitutionForm="ngForm">
                    <input
                      name="institutionId"
                      [readonly]="true"
                      [hidden]="true"
                      [ngModel]="this.institution.id"
                    />
                    <input
                      name="userId"
                      [readonly]="true"
                      [hidden]="true"
                      [ngModel]="this.institution.user_id"
                    />
                    <button
                      (click)="acceptInstitution(acceptInstitutionForm)"
                      class="btn btn-success rounded-3"
                    >
                      Accept
                    </button>
  
                    <button
                      (click)="rejectInstitution(acceptInstitutionForm)"
                      class="mx-2 btn btn-danger rounded-3"
                    >
                      Reject
                    </button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="this.pendingInstitutions.length == 0">No institutions pending approval</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="container">
          <h3>List of accounts</h3>
          <ul class="list-group">
            <li class="list-group-item">
              Account Name
              <button class="btn btn-danger rounded-3">Delete</button>
            </li>
            <li class="list-group-item">
              Account Name

              <button class="btn btn-danger rounded-3">Delete</button>
            </li>
            <li class="list-group-item">
              Account Name
              <button class="btn btn-danger rounded-3">Delete</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
