<app-nav></app-nav>

<section class="bg-danger text-center text-light p-5 ">
  <div class="container-fluid d-md-flex p-5 align-items-center">
    <div class="h1 mx-5">Blockchain donation</div>

    <div *ngIf="!this.donated" id="donate">
      <h1 class="container mx-5">Donation!</h1>
      <div
        *ngIf="this.donationForm"
        class="bg-light rounded-3 border border-5 mx-5 text-dark container"
      >
        <form
          [formGroup]="this.donationForm"
          class="p-5 pb-2"
          (ngSubmit)="submitDonation()"
        >
          <div class="row row-cols-2 text-start align-items-center">
            <div class="col">
              <label for="email" class="form-label"> Email:</label>
              <input
                formControlName="email"
                type="text"
                class="form-control"
                id="email"
                placeholder="Enter email"
                name="email"
              />
              <div class="donation-form-items">
                <mat-error *ngIf="email!.invalid && email!.touched">
                  invalido
                </mat-error>
              </div>
            </div>

            <div class="col">
              <label for="ammount" class="form-label start-0"> Ammount:</label>
              <input
                formControlName="amount"
                type="text"
                class="form-control"
                placeholder="Enter Ammount"
                name="ammount"
                id="ammount"
                min="0"
                appNumbersonly
              />
              <div class="donation-form-items">
                <mat-error *ngIf="amount!.invalid && amount!.touched">
                  invalido</mat-error
                >
              </div>
            </div>

            <div class="col">
              <label for="institution" class="form-label"> Institution:</label>
              <select
                formControlName="institution"
                name="institution"
                id="institution"
                class="form-select"
              >
                <option>Select institution</option>
                <option
                  *ngFor="let institution of this.institutions"
                  [value]="institution.id"
                >
                  {{ institution.name }}
                </option>
              </select>
              <div class="donation-form-items">
                <mat-error *ngIf="institution!.invalid && institution!.touched"
                  >invalido</mat-error
                >
              </div>
            </div>
            <div class="col">
              <label for="cause" class="form-label">
                Causes for that Instituion:</label
              >
              <select
                formControlName="cause"
                name="cause"
                id="cause"
                class="form-select"
              >
                <option value="">
                  {{ this.causes ? "None" : "Select institution" }}
                </option>
                <option *ngFor="let cause of this.causes" [value]="cause.id">
                  {{ cause.name }}
                </option>
              </select>
              <div class="donation-form-items">
                <mat-error *ngIf="institution!.invalid && institution!.touched"
                  >invalido</mat-error
                >
              </div>
            </div>
            <div class="col">
              <label class="form-check-label text-start" for="mySwitch"
                >Wish to receive IRS?</label
              >
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="mySwitch"
                  name="darkmode"
                  value="no"
                  checked
                />
              </div>
              
            </div>
            <div class="col">
              <label class="form-check-label text-start" for="mySwitch"
                >Anonymous Donation</label
              >
              <div class="form-check form-switch">
                <input
                formControlName="anonCheck"
                  class="form-check-input"
                  type="checkbox"
                  id="mySwitch"
                  name="darkmode"
                  value="no"
                  checked
                />
              </div>
              
            </div>
          </div>
          <div class="col">
            <label for="message" class="form-label">Message:</label>
            <textarea
              formControlName="message"
              type="text"
              class="form-control"
              id="namecard"
              placeholder="Enter a message"
              name="message"
            >
            </textarea>
            <div class="donation-form-items">
              <mat-error *ngIf="message!.invalid && message!.touched">
                invalido
              </mat-error>
            </div>
          </div>
          <hr />

          <div class="h1 lead-4">Payment data</div>

          <div class="form floating mb-3 mt-3">
            <label for="namecard" class="form-label"> Card Name</label>
            <input
              formControlName="cardName"
              type="text"
              class="form-control"
              id="namecard"
              placeholder="Enter card Name"
              name="cardname"
            />
            <div class="donation-form-items">
              <mat-error *ngIf="cardName!.invalid && cardName!.touched"
                >invalido</mat-error
              >
            </div>
          </div>
          <div class="form floating mb-3 mt-3">
            <label for="numerocartao" class="form-label"> Card Number</label>
            <input
              formControlName="cardNumber"
              type="text"
              class="form-control"
              id="numerocartao"
              placeholder="Enter card Number"
              name="cardnumber"
            />
            <div class="donation-form-items">
              <mat-error *ngIf="cardNumber!.invalid && cardNumber!.touched"
                >invalido</mat-error
              >
            </div>
          </div>
          <div class="row row-cols-2 form-floating mb-3 mt-3">
            <div class="col">
              <label for="valdate" class="form-label">Data de Validade:</label>
              <input
                formControlName="expireDate"
                type="date"
                class="form-control"
                id="valdate"
                placeholder="Enter card Number"
                name="cardnumber"
              />
              <div class="donation-form-items">
                <mat-error *ngIf="expireDate!.invalid && expireDate!.touched"
                  >invalido</mat-error
                >
              </div>
            </div>
            <div class="col">
              <label for="ccv" class="form-label"> CCV:</label>
              <input
                formControlName="ccv"
                type="ccv"
                id="ccv"
                class="form-control"
                placeholder="Enter CCV"
                name="ccv"
                maxlength="3"
                appNumbersonly
              />
              <div class="donation-form-items">
                <mat-error *ngIf="ccv!.invalid && ccv!.touched"
                  >invalido</mat-error
                >
              </div>
            </div>
          </div>
          <hr />
          <button
            [disabled]="this.donationForm.invalid"
            type="submit"
            class="btn btn-danger m-5"
          >
            Donate
          </button>
        </form>
      </div>
    </div>
    <div *ngIf="this.donated">
      <button class="btn btn-light m-5" [routerLink]="['/']">
        Back to home
      </button>
    </div>
  </div>
</section>

<app-footer></app-footer>
